# Copy this file to .env and update the values for your environment

# Local development (FastAPI)
# API_URL=http://127.0.0.1:8000/calcola-percorso

# Azure production
API_URL=https://eruplan-fia-api-a4c6dkd0hvetgse9.italynorth-01.azurewebsites.net/calcola-percorso
